
.panel {
  padding:1em;

}
.panel:after {
    content: "";
    display: table;
    clear: both;
  }
  .column_l {
    float: left;
    width: 20%;
   
  }
  
  .column_r {
    float: left;
    width: 40%;
   
  }